<a href="https://colab.research.google.com/github/brook-miller/mbai-417-data/blob/main/data-models-databases/homework/floating_point_oddities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
x = 1.2 - 1.0 - .2
if x == 1:
  print("of course")
else:
  print("hmmm")
print(x)

x,y = 5,4
z = 5 / 4
print(z)

hmmm
-5.551115123125783e-17
1.25

Floating point numbers will cause some problems / interesting behavior, typically in financial applications developers will use special Decimal libraries which will use long/int types to keep track of hundredths of pennies and ensure correct rounding for the regulatory / financial needs.

In many languages (including sql) the results of division of 2 integers is an integer which is the whole number discarding the remainder. For many applications this behavior was desired but in the event you are dividing in sql as required by the homework your results will all be whole numbers which obscures the changes in basket size by hour.  You need to cast one of the operands to a float in order to perform floating point division as required in the homework.

in the redshift dialect of sql we can use ::float on the select to cast the variable and perform floating point division.


```
productcount::float / ordercount as basketsize
```